@keyframes upToDown {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
    opacity: 100;
  }
}
@keyframes downToUp {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
    opacity: 100;
  }
}
@keyframes leftToRight {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  75% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0px);
    opacity: 100;
  }
}
@keyframes rightToLeft {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  75% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(0px);
    opacity: 100;
  }
}
@keyframes leftToRightBig {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  75% {
    transform: translateX(35px);
  }
  100% {
    transform: translateX(0px);
    opacity: 100;
  }
}
@keyframes rightToLeftBig {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  75% {
    transform: translateX(-35px);
  }
  100% {
    transform: translateX(0px);
    opacity: 100;
  }
}
body {
  font-family: Roboto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
}

.main {
  background-color: #d0d0d0;
  width: 1024px;
  padding: 50px;
}

.header {
  display: flex;
  align-items: center;
  background-color: #dfe3e3;
  width: 1024px;
  height: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.footer {
  background-color: #d0d0d0;
  width: 1024px;
  padding: 10px 50px;
  text-align: center;
  font-size: large;
}

a {
  text-decoration: none;
}

.nav_ul {
  width: 1024px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav_a {
  color: black;
  text-align: center;
  padding: 10px;
  background-color: #e5eeee;
  border-radius: 20px;
  transition: 0.1s;
}

.nav_li {
  animation: upToDown 0.4s ease-out 0.1s backwards;
  transition: 0.1s;
}
.nav_li:hover {
  transform: scale(1.2);
}

.about {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dfe3e3;
}

.about_h2 {
  animation: leftToRight 0.4s ease-out 0.1s backwards;
  text-align: center;
  color: #292b2b;
  margin-left: 40px;
  padding: 20px;
  background-color: #cfcfcf;
  border-radius: 20px;
}

.img {
  width: 400px;
  display: flex;
  justify-content: space-around;
}

.img_about {
  animation: rightToLeft 0.4s ease-out 0.1s backwards;
  width: 300px;
  height: 300px;
  border-radius: 45px;
  margin: 30px;
  padding: 20px;
  transition: 0.1s;
}
.img_about:hover {
  border: #3c5959 10px solid;
}

.text_h2 {
  margin: 0px;
  padding: 0px;
}

.about_button:link, .about_button:visited {
  height: 20px;
  animation: downToUp 0.4s ease-out 0.1s backwards;
  margin: 0;
  color: black;
  background: #afc5c5;
  padding: 30px;
  border-radius: 25px;
  border: #badfdf 3px solid;
  transition: 0.2s;
}
.about_button:hover {
  transform: scale(1.1);
  border: #e8f4f3 5px solid;
}

.buttons {
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #dfe3e3;
}

.text {
  border-radius: 10px;
  margin-top: 30px;
  display: flex;
  height: 500px;
  background: #dfe3e3;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.text_button:link, .text_button:visited {
  animation: downToUp 0.4s ease-out 0.1s backwards;
  margin: 30px;
  color: black;
  background: #afc5c5;
  padding: 30px;
  border-radius: 25px;
  height: 20px;
  border: #badfdf 3px solid;
  transition: 0.2s;
}
.text_button:hover {
  transform: scale(1.1);
  border: #e8f4f3 5px solid;
}

.text_block {
  animation: upToDown 0.4s ease-out 0.1s backwards;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #cfcfcf;
  padding: 20px;
  border-radius: 10px;
}

.education {
  margin: 10px;
  background-color: #dddddd;
  padding: 20px;
  border-radius: 20px;
}

.resume__h2 {
  animation: upToDown 0.2s ease-in;
  color: #474d58;
  text-align: center;
}

.education__ul {
  list-style: none;
  color: #474d58;
  text-align: center;
}

.education__li {
  margin: 10px;
}

.education__block {
  background-color: #cfcfcf;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

.leftToRightBig {
  animation: leftToRightBig 0.4s ease-in;
}

.rightToLeftBig {
  animation: rightToLeftBig 0.4s ease-in;
}

.skills {
  margin: 10px;
  background-color: #dddddd;
  padding: 20px;
  border-radius: 20px;
}

.skill__block {
  display: flex;
  background-color: #cfcfcf;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
}

.skill__row {
  display: flex;
}

.skill__col {
  margin: 10px;
  padding: 15px;
  border-radius: 20px;
  background-color: #e5e5e5;
}

.projects {
  margin: 10px;
  background-color: #dddddd;
  padding: 20px;
  border-radius: 20px;
}

.project__img {
  width: 280px;
  height: 170px;
}

.project__block {
  display: flex;
  background: #c8c8c8;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  justify-content: space-between;
}

.project__description {
  font-size: larger;
}

.project__text {
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  background-color: #dfdfdf;
}

.project__img {
  border-radius: 20px;
  transition: 0.1s;
}
.project__img:hover {
  transform: scale(1.2);
}

.project__a {
  color: #494949;
}
.project__a:hover {
  color: #1b1b1b;
}/*# sourceMappingURL=style.css.map */