.education
    margin: 10px
    background-color: #dddddd
    padding: 20px
    border-radius: 20px

.education__ul
    list-style: none
    color:#474d58
    text-align: center

    

.education__li
    margin: 10px
    
.education__block
    background-color: #cfcfcf
    padding: 20px
    margin: 20px
    border-radius: 10px
